
  body {
    margin-top: 0;

    margin-left: 0;
    margin-right: 0;
    background-color: rgb(250, 250, 250);
  }

  nav {
    border: none;
    z-index: 1;
  }

  button {
    cursor: pointer;
    border : 0;
    outline: 0;
  }

  #blackOpacity {
    padding-top: 120px;
  }

  .bar {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 77px;
    background-color: white;
    border-bottom: 1.5px solid rgb(235, 235, 235);
    border-radius: 4px;
  }

  .bar_contents {
    margin: 0 auto;
    max-width: 1010px;

    /* width: 990px; */
    padding: 26px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .insta_logo {
    display: flex;
    float: left;
  }

  #insta_logo_png {
    cursor: pointer;
    display: flex;
    width: 24px;
    height: 24px;
    background-image: url("img/instagram-logo.png");
    background-size: cover;
    margin: 0;
    padding: 0;
  }

  #insta_logo_hrizon {
    display: block;
    border-right: 0.5px solid black;
    width: 24px;
    height: 24px;
  }

  #insta_logo {
    cursor: pointer;
    display: block;
    margin-left: 15px;
    width: 103px;
    height: 29px;
    background-image: url("img/instagram.png");
    background-size: cover;
  }

  .find_text {
    display: block;
    text-align: center;
  }

  #TextFind {
    width: 199px;
    height: 18px;
    border-radius: 3px;
    border: 0.5px solid #EFEFEF;
    background-color: #fcf7f7;
    color: #999999;
    text-align: center;
    font-size: 14px;
  }

  .bar_logoes {
    text-align: center;
    display: inline;

  }

  .bar_logoes img {
    cursor: pointer;
    width: 24px;
    height: 24px;
    margin-left: 24px;
    float: right;
  }


  /* 피드 */
  .feed {
    margin: 50px auto;
    width: 614px;
    border-radius: 3px;
    border: 1.5px solid rgb(235, 235, 235);
    border-radius: 4px;
    background-color: white;
    z-index: 0;
  }

  li:hover {
    z-index: 0;
    transform: scale(1.01);
    transition: all ease 0.4s;
    box-shadow: 5px 5px 10px 1px grey;
  }

  li {
    list-style: none;
  }

  /* 피드헤더 */
  .feed_header {
    padding: 16px;
    border-bottom: 2.2px solid rgb(235, 235, 235);
    border-radius: 4px;
  }

  .feed_header_profile {}

  .feed_header_profile a {
    vertical-align: middle;
    text-decoration: none;
    font-size: 14px;
    color: #262626;
    padding-left: 5px;
  }

  .feed_header_profile img {
    cursor: pointer;
    vertical-align: middle;
    width: 34px;
    height: 34px;
    border-radius: 50%;
  }

  #feed_header_more {
    cursor: pointer;
    float: right;
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }

  /* 이미지 및 icon들 */
  .photo img {
    vertical-align: bottom;
    width: 614px;
  }

  .icon {
    height: 40px;
    margin: 6px 0px;
    padding: 0 16px;
  }

  .icon_left button {

    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
  }

  .icon_left img {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }

  .icon_right {
    float: right;
  }

  .icon_right button {
    width: 40px;
    height: 40px;
    background-color: white;
    border: none;
  }

  .icon_right img {
    cursor: pointer;
    width: 24px;
    height: 24px;
  }

  /* 피드 footer */
  .like {
    margin: 0px 0px 8px;
    padding: 0 16px;
    vertical-align: middle;
  }

  .like img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    padding-right: 5px;
    vertical-align: middle;
  }

  .like strong {
    cursor: pointer;
  }

  .hashtag {
    padding: 5px 2px 6px 16px;
  }

  .hashtag strong {
    cursor: pointer;
  }

  .hashtag span {
    cursor: pointer;
    color: rgb(55, 97, 137);
  }

  .comments {
    padding: 0 16px;
  }

  .comments button {
    cursor: pointer;
    color: grey;
    display: block;
    background-color: white;
    border: none;
    padding: 0;
    margin: 0 0 8px;
  }

  .comments strong {
    cursor: pointer;
  }

  .comments_time {
    font-size: 10px;
    color: grey;
    padding: 0 0 0 16px;
    margin: 4px 0 4px;
  }

  /* 댓글 달기 */
  .textarea {
    height: 56px;
    margin: 10px 0 0;
    padding: 0 16px;
    border-top: 1.5px solid rgb(235, 235, 235);
    border-radius: 4px;
  }

  .textarea input {
    display: inline;
    width: 540px;
    height: 18px;
    font-size: 14px;
    border: none;
    color: grey;
    margin-top: 15px;
  }

  #submit {
    cursor: pointer;
    width: 36px;
    color: rgb(0, 233, 252);
    background: white;
  }

  #bodycheck {
    width: 100%;
    height: 1000vh;
    margin: 0;
    display: none;
    z-index: 0;
    position: absolute;
  }

  #more {
    display: none;
    z-index: 2;
    margin: 200px 35%;
    position: absolute;
    position: fixed;
  }

  .more_top {
    z-index: 2;
    background-color: white;
    display: block;
    width: 400px;
    height: 48px;
    border-bottom: 0.2px solid #efefef;

    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .more_middle {
    z-index: 2;
    background-color: white;
    display: block;
    width: 400px;
    height: 48px;
    border-bottom: 0.2px solid #efefef;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .more_bottom {
    z-index: 2;
    background-color: white;
    display: block;
    width: 400px;
    height: 48px;
    border-width: 0px;
    border-bottom: 0.2px solid #efefef;

    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  @keyframes big {
    0% {
      width: 24px;
      height: 24px;
    }

    25% {
      width: 26px;
      height: 26px;
    }

    50% {
      width: 27px;
      height: 27px;
    }

    75% {
      width: 26px;
      height: 26px;
    }

    100% {
      width: 24px;
      height: 24px;
    }
  }

  #like-red {}
